<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Admin Console</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/user.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/admin.css')}}">
</head>

<body class="gradient-custom">
    {% include 'admin_nav.html' %}
    <main id="main" class="main">
        <section class="section dashboard">
            <div class="row">
                <div class="col-lg-6">

                    <div class="card">
                        <div class="card-body">
                            <div class="user-product d-flex mb-2">
                                <p class="h3" style="display: inline-block;">Products</p>
                                <a class="btn btn-primary me-1 ms-auto" href="/admin/add_product">Add Product</a>
                            </div>



                            <!-- General Form Elements -->
                            <div class="overflow-auto">
                                <ol class="list-group list-group-numbered">
                                    {% for i,j in products %}
                                        <li class="list-group-item d-flex">{{i.name}} ( {{j.name}} ) <a
                                                class="btn btn-primary btn-sm me-1 ms-auto"
                                                href="/admin/edit_product/{{i.product_id}}">edit</a><a type="button"
                                                class="btn btn-danger btn-sm prod" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal" id={{i.product_id}}>
                                                remove
                                            </a>
                                            <script src="{{url_for('static', filename = 'js/bootstrap.js')}}"></script>
                                            <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
                                            <script
                                                src="{{url_for('static', filename = 'js/bootstrap.bundle.min.js')}}"></script>
                                            <!-- Include jQuery and Bootstrap JS -->
                                            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
                                            <script
                                                src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

                                            <!-- Your internal script -->
                                            <script>
                                                $(document).ready(function () {
                                                    // When the button is clicked
                                                    $(".prod").click(function () {
                                                        // Get the value from the data-bs-target attribute of the button
                                                        var product_id = $(this).attr('id');

                                                        // Find the anchor tag inside the modal
                                                        var anchorTag = $("#exampleModal").find("#savechange");

                                                        // Get the current href value
                                                        var currentHref = anchorTag.attr("href");

                                                        // Replace the placeholder with the new product_id value
                                                        var newHref = currentHref.replace("{{i.product_id}}", product_id);

                                                        // Set the updated href
                                                        anchorTag.attr("href", newHref);
                                                    });
                                                });
                                            </script>

                                            <div class="modal fade" id="exampleModal" tabindex="-1"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Adding
                                                                Category</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Are you sure you want to Proceed ??
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">No</button>
                                                            <a class="btn btn-primary me-1 ms-1"
                                                                href="/admin/remove_product/{{i.product_id}}"
                                                                id="savechange">Save
                                                                Changes</a>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </li>

                                    {% endfor %}
                                </ol>

                            </div>


                        </div>
                    </div>

                </div>
                <div class="col-lg-6">

                    <div class="card">
                        <div class="card-body">
                            <div class="user-product d-flex mb-2">
                                <p class="h3" style="display: inline-block;">Categories</p>
                                <a class="btn btn-primary me-1 ms-auto" href="/admin/add_category">Add Category</a>
                            </div>



                            <!-- General Form Elements -->
                            <div class="overflow-auto">
                                <ol class="list-group list-group-numbered">
                                    {% for i in cat_list %}
                                    <li class="list-group-item d-flex">{{i.name}}
                                        <a class="btn btn-primary btn-sm me-1 ms-auto"
                                        href="/admin/edit_category/{{i.category_id}}">edit</a><a type="button"
                                        class="btn btn-danger btn-sm cat" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal1" id={{i.category_id}}>
                                        remove
                                    </a>
                                    <script src="{{url_for('static', filename = 'js/bootstrap.js')}}"></script>
                                    <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
                                    <script
                                        src="{{url_for('static', filename = 'js/bootstrap.bundle.min.js')}}"></script>
                                    <!-- Include jQuery and Bootstrap JS -->
                                    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
                                    <script
                                        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

                                    <!-- Your internal script -->
                                    <script>
                                        $(document).ready(function () {
                                            // When the button is clicked
                                            $(".cat").click(function () {
                                                // Get the value from the data-bs-target attribute of the button
                                                var cat_id = $(this).attr('id');

                                                // Find the anchor tag inside the modal
                                                var anchorTag = $("#exampleModal1").find("#savechange");

                                                // Get the current href value
                                                var currentHref = anchorTag.attr("href");

                                                // Replace the placeholder with the new product_id value
                                                var newHref = currentHref.replace("{{i.category_id}}", cat_id);

                                                // Set the updated href
                                                anchorTag.attr("href", newHref);
                                            });
                                        });
                                    </script>

                                    <div class="modal fade" id="exampleModal1" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Adding
                                                        Category</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Removing category will remove all products in the category??
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">No</button>
                                                    <a class="btn btn-primary me-1 ms-1"
                                                        href="/admin/remove_category/{{i.category_id}}"
                                                        id="savechange">Save
                                                        Changes</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </li>

                                    {% endfor %}
                                </ol>

                            </div>


                        </div>
                    </div>

                </div>
            </div>

            </div>
        </section>
</body>

</html>