<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/authentication.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/bootstrap.css')}}">
</head>

<body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">EDIT PRODUCT</h3>
                            <form method='POST' action="">
                                {{ prod_form.hidden_tag() }}
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <label for="inputAddress2" class="form-label">Product Name</label>
                                        <div class="form-outline">
                                            {{ prod_form.name(value=product.name) }}
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <label for="inputAddress2" class="form-label">Description</label>
                                        <div class="form-outline">
                                            {{ prod_form.description(value=product.description) }}
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <label for="inputAddress2" class="form-label">price</label>
                                        <div class="form-outline">
                                            {{ prod_form.price(value=product.price) }}
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <label for="inputAddress2" class="form-label">Unit</label>
                                        <select class="form-select" aria-label="Default select example" name="unit">
                                            <option selected>{{product.unit}}</option>
                                            {% for i in unit_list %}
                                            <option value="{{i}}">{{i}}</option>
                                            {% endfor %}
                                        </select>

                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4 pb-2">
                                        <label for="inputAddress2" class="form-label">Stock Quantity</label>
                                        <div class="form-outline">
                                            {{ prod_form.stock_quantity(value=product.stock_quantity) }}
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4 pb-2">
                                        <label for="inputAddress2" class="form-label">Category</label>
                                        <select class="form-select" aria-label="Default select example"
                                            name="category_name">
                                            <option selected>select category</option>
                                            {% for i in cat_list %}
                                            <option value="{{i.name}}">{{i.name}}</option>
                                            {% endfor %}
                                        </select>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4 pb-2">

                                        <label for="inputAddress2" class="form-label">Manufactured Date</label>
                                        <div class="form-outline">
                                            {{ prod_form.manufacture_date(value=product.manufacture_date) }}
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4 pb-2">
                                        <label for="inputAddress2" class="form-label">Expiry Date</label>
                                        <div class="form-outline">
                                            {{ prod_form.expiry_date(value=product.expiry_date) }}
                                        </div>

                                    </div>
                                </div>

                                <!-- <div class="row">
                          <div class="col-12">
          
                            <select class="select form-control-lg">
                              <option value="1" disabled>Choose option</option>
                              <option value="2">Subject 1</option>
                              <option value="3">Subject 2</option>
                              <option value="4">Subject 3</option>
                            </select>
                            <label class="form-label select-label">Choose option</label>
          
                          </div>
                        </div> -->
                                <div class="mt-4 pt-2">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        Edit Product
                                    </button>
                                </div>
                                <script src="{{url_for('static', filename = 'js/bootstrap.js')}}"></script>
                                <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
                                <script src="{{url_for('static', filename = 'js/bootstrap.bundle.min.js')}}"></script>
                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Adding Category</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to Proceed ??
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">No</button>
                                                {{prod_form.submit(class="btn btn-primary", value="Save Changes")}}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{{url_for('static', filename = 'js/bootstrap.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/bootstrap.bundle.min.js')}}"></script>
</body>

</html>